<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório - Altamir</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="paper">
            <div class="report-header">
                <h1>Relatório Atividade Controle e versionamento</h1>
                <p>Aluno: Altamir Rogério Corrêa Queiroz</p>
            </div>

           
 <br>Comandos usados nessa ativiadade: git clone, git init, git checkout -b nome-da-branch, code .
 <br>A minha dificuldade foi entender como resolver essa atividade, com a ajuda da equipe pude entender e dar continuidade na atividade.
 <br>Encontramos problemas/confritos, porem conseguimos resolver analisando os erros descritos apos execuçao do projeto.
 <br>Apos verificar que estava faltando escolher qual branch seria usada como matriz conseguimos contornar os conflitos.



            <a href="/" class="back-button">Voltar à Página Inicial</a>
        </div>
    </div>
</body>
</html>