<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório - Glecia</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="paper">
            <div class="report-header">
                <h1>Relatório Atividade Controle e versionamento</h1>
                <p>Aluno: Glecia Maria Costa Silva</p>
            </div>

           
   <p>
    Controle e versionamento
<br> Primeiro criei uma pasta no diretorio local.
<br> Abri git hub no diretorio virtual onde está a pasta do projeto, cliquei no botão "Code"
<br> e depois  clique no SSH ai copie o SSH .
<br> Dei o comando no git clone + SSH do repositorio.
<br> Depois fiz o git checkout -b glecia.
<br> Editei o modelo de HTML com com as minhas informações .
<br> Abri o index.html e editei a pagina com minhas informações.
<br> Entrei no app.py e editei a pagina também com as informações.
<br> Adicionar as alterações e confirmar o COMMIT alterações feitas e concluidas .
<br> Silvano mandou pra mim e eu aceitei , aconteceu um conflito nós mandamos 2 atualizações.
<br> Tivemos que fazer uma nova BRACH para corrigir e deu certo.
</p>


            <a href="/" class="back-button">Voltar à Página Inicial</a>
        </div>
    </div>
</body>
</html>