<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório - Aluno 1</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="paper">
            <div class="report-header">
                <h1>Relatório Atividade Controle e versionamento</h1>
                <p>Aluno: Silvano de Arruda Amorim Campos</p>
            </div>

            <p>
                    1. Criei o repositório no github atividade-controle-e-versionamento'.<br> <br>

                    2. criei a estrutura inicial do site em ambiente local:<br> <br>
                    /atividade-controle-e- versionamento/ <br>
                        /static/style.css <br>
                        /templates/index.html <br>
                        app.py <br>
                        README.md <br>  <br>

                    A estrutura usa o flask para criar rotas, então temos a pasta 'templates' e 'static' para estruturar. O arquivo 'app.py' carrega as rotas. <br> <br>

                    3. com os comandos abaixo sincronizei a estrutura do ambiente local com o github: <br> <br>

                    git init <br> 
                    git add. <br> 
                    git commit -m "commit inicial" <br>
                    git branch -M master <br>
                    git remote add origin git@github.com:Sil-13/ <br>atividade-controle-e-versionamento.git <br>
                    git push -u origin main <br> <br>

                    4. criei minha branch com 'git checkout -b silvano, adicionei a página 'silvano.html à pasta templates e editei o arquivo 'app.py' incluindo a rota da minha página. Editei o arquivo 'index.html' para ligar à minha página. <br> <br>

                    5. Adicionei as alterações para commit no ambiente do visual code, de forma visual, clicando nos comandos. Adicionei uma mensagem e dei commit e push. <br> <br>

                    6. No github, no diretório da atividade, cliquei em 'Branchs', em seguida na minha branch 'silvano'. A mensagem 'This branch is 1 commit ahead of main.' mostra que tem um commit para aprovar. Cliquei em 'Contribute' e em seguida no botão 'Compare', para ver as alterações efetuadas pela minha branch na branch principal.  <br> <br>

                    7. Cliquei em 'Create pull request' para mescrar minha branch à principal, adicionei uma descrição e confirmei clicando em 'Create pull request'. <br> <br>

                    8. Repetindo as etapas 6 e 7 deste relatório para aprovar as solicitações de inclusão das branchs dos colegas à branch principal. <br> <br>
             </p>
            


            <a href="/" class="back-button">Voltar à Página Inicial</a>
        </div>
    </div>
</body>
</html>
